Library/
Temp/
Obj/
Build/
Builds/
Logs/
UserSettings/
*.csproj
*.sln
*.user
*.apk
*.aab

.gradle/
**/build/
**/.cxx/
**/local.properties
**/upload.jks
native/app/src/main/cpp/newton-dynamics/
__pycache__/
